
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    min-height: 100vh;
    background: url(images/bg.jpg);
    object-fit: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.card {
    width: 80%;
    max-width: 1000px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    padding: 40px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 15px;
    backdrop-filter: blur(10px);
}

h1 {
    color: white;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
}

#task {
    width: 100%;
    background: rgba(255, 255, 255, 0.1);
    border: 0;
    outline: 0;
    padding: 15px;
    border-radius: 15px;
    color: white;
}

#task::placeholder {
    color: rgba(255, 255, 255, 0.6);
}

.input-container {
    margin: 30px;
    display: flex;
    align-items: center;
    gap: 15px;
}

#add-task-btn {
    background: rgba(255, 255, 255, 0.1);
    border: 0;
    width: 43px;
    height: 43px;
    border-radius: 5px;
    font-size: 1.6rem;
    color: rgba(255, 255, 255, 0.6);
    cursor: pointer;
}
